<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include("../partials/meta") %>
    <title><%= metaTitle %></title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <style>
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
      }

      form {
        display: flex;
        flex-direction: row;
      }

      .input-container {
        position: relative;
      }

      .input-container:has(input[type="text"]:not(:placeholder-shown))
        input[type="reset"] {
        display: flex;
      }

      form input[type="text"] {
        padding: 0.5rem;
        font-size: 1rem;
        border: none;
        outline: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        width: 300px;
      }

      form input[type="reset"] {
        display: none;
        position: absolute;

        right: 4px;
        top: 50%;
        transform: translateY(-50%);

        width: 26px;
        height: 26px;

        border: none;
        background: transparent;

        font-weight: 900;
        color: #888;
        cursor: pointer;
      }

      form button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        outline: 1px solid #328635;
        border-radius: 0 4px 4px 0;
        background-color: #4caf50;
        color: white;
        cursor: pointer;
      }

      .books-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
        list-style-type: none;
        padding: 0;
        width: 100%;
      }

      .books-grid-item {
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f9f9f9;
        overflow: hidden;

        max-height: 600px;
      }

      .books-grid-item img {
        width: 100%;
        height: auto;
        display: block;
      }

      .books-grid-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        text-align: center;
      }

      .books-grid-item-content strong {
        font-size: 1.1rem;
      }
    </style>
    <main>
      <h1>Les livres</h1>

      <form action="/books" method="GET">
        <div class="input-container">
          <input type="text" id="search" name="search" placeholder="<%= query ?
          "Derniére recherche était " + query : 'Titre, genre, ISBN, ...' %>"
          aria-label="Rechercher un livre" />
          <input type="reset" value="x" />
        </div>
        <button type="submit">Rechercher</button>
      </form>
      <% if (books && books.length > 0) { %>
      <ul class="books-grid">
        <% books.forEach(function(book) { %>
        <li class="books-grid-item">
          <img
            src="https://placehold.co/250x350"
            alt="Couverture du livre <%= book.title %>" />
          <div class="books-grid-item-content">
            <strong><%= book.title %></strong>
            <% if (book.author) { %> <br />
            par <%= book.author.firstname %> <%= book.author.lastname %> <% } %>
          </div>
          <% }); %>
        </li>
      </ul>

      <% } else { %>
      <p>Aucun livre disponible.</p>
      <% } %>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
