<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include("./partials/meta") %>
    <title><%= metaTitle %></title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <div class="pageContentContainer"><%- body %></div>
    <%- include("./partials/footer") %>
  </body>
</html>
